html,
body {
  padding: 0;
  margin: 0;
  font-family: "Avenir Next";
}

video {
  width: 1px;
  height: 1px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#low-power-mode {
  background-color: black;
  color: rgb(243, 211, 50);
}

#normal-mode {
  background-color: whitesmoke;
  color: black;
}

#desktop-mode {
  background-color: whitesmoke;
  color: black;
}

.message {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
